<!DOCTYPE html>
<html>
  <head>
    <title>CTC - Custom route</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
      #map { height: 30vh; }
    </style>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body class="has-background-dark">
      <nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://crowntowncompost.com">
              <img src="https://static1.squarespace.com/static/535d6ce2e4b0faf2733ec3fe/t/54d951d7e4b05a1e7369644b/1571337216662/" width="28">
            </a>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Routes
              </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="index.html">
                Today
              </a>
              <a class="navbar-item" href="weekday.html">
                Any day
              </a>
              <a class="navbar-item is-active" href="custom-route.html">
                Custom route
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="pilot.html">
                Pilot program
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="weigh-in.html">
                Weigh-in
              </a>
              <a class="navbar-item" href="yesterdays-route.html">
                Yesterday's route pick-up times
              </a>  
            </div>
          </div>
          <a href="handbook.html" class="navbar-item">
                Handbook
            </a>
            <div class="navbar-item">
              <a class="button is-danger" onclick="localStorage.removeItem('destinations');localStorage.removeItem('route');localStorage.removeItem('stopNumber');window.location.reload();">
                <strong>Reset</strong>
              </a>
            </div>
          </div>
        </nav>
        
    <div class="section">
      <div class="container block">
        <div id="app" class="block">
          <article class="message is-warning" v-if="!isSecureConnection">
            <div class="message-body">
              <a href="https://crowntownops.herokuapp.com">
                Switch to a secure connection to let this app use your current location
              </a>
            </div>
          </article>

          <div class="block" v-if="!isFinishedFetchingStops">
            <h1 class="title is-2 has-text-white has-text-centered">Setup your route</h1>

            <div class="columns">
                <div class="column has-background-white is-4 is-offset-4">
                  <div>
                      <div class="field" v-for="(filter, name) in filters" :key="name">
                          <label class="label is-size-4">{{name}}</label>
                          <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input :id="name" :name="name" type="checkbox" v-model="filter.active">
                                    <label :for="name">Change this</label>
                                </div>
                              <div class="control" v-for="option in filter.options">
                                  <input type="radio" :id="name + option" :name="name" :value="option" v-model="filter.selected" :disabled="!filter.active">
                                  <label class="radio" :for="name + option">{{option}}</label>
                              </div>
                            </div>
                          </div>
                        </div>    
                    </div>   
                    <div class="field mt-4">
                      <div class="control">
                        <button class="button is-link is-fullwidth is-large" 
                                @click="fetchGSheetData">
                                Add these stops
                        </button>
                      </div>
                    </div>         
                </div>
            </div>  
          </div>
          <div class="block" v-else>
            <button v-if="!hasRouteLoaded" class="button is-info is-fullwidth m-5" 
                    @click="isFinishedFetchingStops = !isFinishedFetchingStops">
                    Add more stops to the route
            </button>
            
            <h1 class="mt-5 title is-2 has-text-white has-text-centered">{{mappedSegments.length}} stops</h1>

            <div class="container" v-if="mappedSegments.length > 0">
              <div class="block" v-if="isFinishedFetchingStops && !hasRouteLoaded">
                <button class="button is-success is-fullwidth is-large m-5" 
                  @click="optimizeRoute"
                  :disabled="isCalculatingRoute">
                  Calculate route
                </button>
              </div>
              <div class="block" style="display: flex;">
                  <button class="button" @click="showNextStop(-1)">
                    <i class="fas fa-chevron-left"></i>
                  </button>
                  <input type="range" 
                        style="flex-grow: 1; margin-left: 10px; margin-right: 10px;" 
                        class="slider" 
                        v-model.number="counter" 
                        min="0" 
                        :max="mappedSegments.length - 1" 
                        step="1"/>
                  <button class="button" @click="showNextStop(1)">
                    <i class="fas fa-chevron-right"></i>
                  </button>
                </div>
                <div class="block level is-mobile has-text-centered">
                    <button class="button is-danger is-large" @click="flagMissedBin">
                        <span class="icon">
                          <i class="fas fa-times-circle"></i>
                        </span>
                    </button>
                      <a :href="'https://www.google.com/maps/dir/?api=1&destination=' +  + currentStop.Latitude + ',' + currentStop.Longitude" class="button is-link is-large">
                        <span class="icon">
                            <i class="fas fa-map-marker-alt fa-lg"></i>
                        </span>
                      </a>        
                      <button class="button is-primary is-large" :class="{ 'is-loading': isRecordUpdating }" @click="markCompletedStop">
                        <span class="icon">
                            <i class="fas fa-check fa-lg"></i>
                        </span>
                      </button>
                </div>
                <div class="block">
                    <textarea v-show="currentStop.Notes.length > 0" 
                              cols="30" rows="10" 
                              style="display: block; width: 100%; font-size: 1.3em; padding: 0.5em; margin: 1em 0;">{{currentStop.Notes}}</textarea>
                    <table class="table is-fullwidth has-background-white">
                      <tbody>
                          <tr v-for="(value, key) in currentStop" :key="key" v-show="value.length > 0">
                              <th>{{key}}</th>
                              <!-- <td v-if="key == 'Notes'">
                                  <textarea name="" id="" cols="30" rows="10">{{value}}</textarea>
                              </td> -->
                              <td>{{value}}</td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>  
          </div>
        </div>      
      </div>
    </div>
    <script src="custom-route.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

      });
    </script>
  </body>
</html>
